<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
                <h3 class="section-subheading text-muted">학력</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/hoseo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2017</h4>
                                <h4 class="subheading">당진시 호서고등학교 졸업</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">인문계 호서고등학교 문과 졸업</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/pa.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017-2022</h4>
                                <h4 class="subheading">대전광역시 배재대학교 졸업</h4>
                                <p class="text-muted">호텔항공경영학과, 호스피탈리티SW융합 전공</p>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    호텔경영학과에서 경영학을 학습한 경험으로 다양한 측면에서 조직을 효과적으로 이끌고 관리하는 능력이 중요하다는 것입니다.<br><br>특히, 고객 만족과 팀 협력이 호텔 산업에서 성공을 결정짓는 중요한 요소 중 하나라는 것을 깨닫게 되었습니다.<br>
                                    AISW(인공지능 및 소프트웨어) 융합 전공에서는 호스피탈리티SW융합 전공을 통해 호텔 및 관광 산업에서 활용되는 데이터를 분석하고<br><br> 그 결과를 토대로 니즈를 충족시키는 방향성을 찾을 수 있습니다.
                                </p>
                            </div>
                            <div class="timeline-heading">
                                <h4>2023.02-2023.07</h4>
                                <h4 class="subheading">배재대학교 석사 중퇴</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
                <h3 class="section-subheading text-muted">대외활동</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/gae.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023.07.12-2023.12.26</h4>
                                <h4 class="subheading">(계룡건설)빅데이터 기반 GREEN TECH SW개발자 과정</h4>
                                <h4 class="subheading">풀스텍 개발 과정 수강</h4>
                            </div>
                            <br>
                            <br>
                            <div class="timeline-body">
                                <h4 class="subheading">커리큘럼</h4><br>
                                <p class="text-muted">탄소중립의 이해 및 필요성<br>
                                자바의 기초에 대해 학습<br>
                                기업 및 조직에 필요한 인사이트 도출 및 허용<br>
                                공공데이터를 활용한 에너지 데이터 분석 플랫폼 개발<br>
                                에코건설을 위한 에너지 분석 SW개발<br>
                                건물에너지 관리시스템 개발
                            </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
                <h3 class="section-subheading text-muted">자격증</h3>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/ja.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022.09.23</h4>
                                <p class="text-muted">데이터분석준전문가(ADsP) 취득<br><br>
                                <h4>2024.07.12</h4>
                                <p class="text-muted">빅데이터분석기사 최종합격<br>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
