<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted">지금까지 활용해본 기술입니다.</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                    <h4 class="title">Programming Languages</h4>
                    <p class="description" style="text-align: center;">
                      JAVA<br>
                      HTML/CSS/JS<br>
                      JSP<br>
                      Python<br>
                      MarkDown<br>
                      R<br>
                      SQL
                    </p>
                  </div>
            </div>
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="title">Framework/Library</h4>
                    <p class="description" style="text-align: center;">
                        Spring/SpringBoot<br>
                        node.js<br>
                        JQuery<br>
                        BootStrap<br>
                        FLASK<br>
                        Pandas<br>
                        numpy<br>
                        tensorflow
                    </p>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <h4 class="title">Build Tools</h4>
                    <p class="description" style="text-align: center;">
                      MAVEN<br>
                      GRADLE
                      SVN
                    </p>
                  </div>
            </div>
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <h4 class="title">IDEs &amp; Code Editors</h4>
                    <p class="description">
                      Eclipse IDE<br>
                      Pycharm<br>
                      VSCode<br>
                      Spyder<br>
                      STS (Spring Tools 4 for Visual Studio Code)<br>
                    </p>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-notebook"></i></div>
                    <h4 class="title">Code/Data Notebooks</h4>
                    <p class="description" style="text-align: center;">
                      WJupyter Notebook<br>
                      GoogleColab
                    </p>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-cloudapp"></i></div>
                    <h4 class="title">Cloud &amp; Services</h4>
                    <p class="description" style="text-align: center;">
                      Amazon AWS
                    </p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="title">Server &amp; Virtualization</h4>
                    <p class="description" style="text-align: center;">
                      Apache Tomcat<br>
                    </p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="title">Version Control</h4>
                    <p class="description" style="text-align: center;">
                      Git / Github
                    </p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-database"></i></div>
                    <h4 class="title">DataBase</h4>
                    <p class="description" style="text-align: center;">
                      Oracle DB<br>
                      MySQL<br>
                      SQLite
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title">Operating Systems(OS)</h4>
                    <p class="description">
                      Windows<br>
                    </p>
                  </div>
            </div>
        </div>
    </div>
</section>